.form-group{
   align-content: center;
   margin-top: 200px;
   padding-left: 45%;
}

.cancelbtn {
    width: auto;
    padding: 4px 11px;
    background-color:azure;
  }
  .profile{
     padding-left: 700px;
  }