<div fxLayout= "row" fxLayoutAlign= "stretch">
  <mat-toolbar class="fixed-header" fxFlex= "100%" fxFlex.xs = "100%" fxFlex.sm ="100%" fxFlex.md= "100%">
     <mat-toolbar-row>
        
        
   <span>
       <b>
       <font size= "11" face="Forte">Life Insurance</font></b>
   </span>
   &nbsp;&nbsp;&nbsp;
   <div class="profile">
  <a mat-button routerLink= "/login" routerLinkActive="active" matTooltip = "Admin">
    <mat-icon>Admin</mat-icon>
   </a>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a mat-button routerLink= "/custlogin" routerLinkActive="active" matTooltip = "User">
    <mat-icon>User</mat-icon>
   </a>
  </div>
     </mat-toolbar-row>
  </mat-toolbar>
</div>


<mat-divider></mat-divider>


 

