button {
    background-color:rgb(107, 83, 241);
    color: white;
    padding: 10px 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 40%;
    }
    button:hover {
    opacity: 0.5;
    }
    .example-container {
      display: flex;
      flex-direction: column;
    }
    
    .example-container > * {
      width: 15%;
    }
    
    .login-card{
      background-color:whitesmoke;
      padding-left: 15%;
      height: 370px;
      width: 250px;
    margin-top: 480px;
    }
    .form-group{
      width: 550px;
      padding-left: 0px;
    }
    .admin{
      padding-right: 10px;
      margin-right: -100px;
    }
    .Dashboard{
      padding-left: 700px;
      float: right;
    }
    