<div fxLayout= "row" fxLayoutAlign= "stretch">
  <mat-toolbar class="fixed-header" fxFlex= "100%" fxFlex.xs = "100%" fxFlex.sm ="100%" fxFlex.md= "100%">
     <mat-toolbar-row>
         <button *ngIf= "!abc" aria-label="Toggle sidenav" mat-icon-button (click) ="drawer.toggle()" matToolTip="Menu">
             <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
         </button>
         <button *ngIf=abc mat-icon-button [matMenuTriggerFor]="menu">
             <mat-icon>arrow_drop_down</mat-icon>
         </button>

          <!-- <mat-menu #menu= "matMenu">
             <button mat-menu-item (click)= "navigateNotes()">
                 <mat-icon>note_add</mat-icon>
                 <span>Add Policy</span>
             </button>  -->
           
           
&nbsp;&nbsp;

   <span>
       <b>
       <font size= "11" face="Forte">Life Insurance</font></b>
   </span>
  &nbsp;&nbsp;&nbsp;&nbsp;

  <div class ="slinput" ng-init= "">
      <i class= "fa fa-search left-icon"></i>
      <input type="search" placeholder="Search here" ng-model= "searchInputVal" />
      <i ng-class="{'fa' : true, 'fa-close' : true, 'right-icon: true, active : (searchInputVal.lenght >0)}" ng-click="searchInputVal= ''"></i>
  </div>


  <a mat-button routerLink= "/homePage/buy" routerLinkActive="active" matTooltip = "Refresh">
 <mat-icon>refresh</mat-icon>
</a>

&nbsp;&nbsp;&nbsp;
<button mat-button [matMenuTriggerFor] = "user" matTooltip= "Google account">
    <mat-icon> Account_circle</mat-icon>
</button>
<mat-menu #user="matMenu">
    <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <a mat-button  *ngIf= "service.loggedIn()" (click)= "service.logOut()"><span>Logout</span></a>
    </button>
</mat-menu>

<div class="list">
    <div class="panel-heading">
      <h2 align="center">Policy Details</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped" align="center">
        <thead>
          <tr>
            <th>PolicyId</th>&nbsp;&nbsp;&nbsp;
            <th>PolicyName</th>&nbsp;&nbsp;&nbsp;
            <th>Description</th>&nbsp;&nbsp;&nbsp;
            <th>duration</th>&nbsp;&nbsp;&nbsp;
            <th>Price</th>&nbsp;&nbsp;&nbsp;
            <th>Actions</th>&nbsp;&nbsp;&nbsp;
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let policy of policies | async">
            <td>{{policy.policyId}}</td>&nbsp;&nbsp;&nbsp;
            <td>{{policy.policyName}}</td>&nbsp;&nbsp;&nbsp;
            <td>{{policy.description}}</td>&nbsp;&nbsp;&nbsp;
            <td>{{policy.duration}}</td>&nbsp;&nbsp;&nbsp;
            <td>{{policy.price}}</td>&nbsp;&nbsp;&nbsp;
            <td><button (click)="buyPolicy(policy)" class="btn btn-danger">Add</button>
             </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
